<div class="container my-4">

    <form [formGroup] = "userForm">
        <div class="form-group" >
            <label for="name">Name</label>
            <input type="text"  id="name" class="form-control" placeholder="" formControlName='name' [(ngModel)]="user.name">
            <div  *ngIf="submitted && f.name.errors" class="text-danger small">Enter name</div>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"  id="username" class="form-control" placeholder="" formControlName='username' [(ngModel)]="user.username">
            <div *ngIf="submitted && f.username.errors" class="text-danger small">Enter Username</div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"  id="email" class="form-control" placeholder="" formControlName='email' [(ngModel)]="user.email">
            <div *ngIf="submitted && f.name.errors.required" class="text-danger small">Enter email</div>
            <div *ngIf="submitted && f.name.errors.email" class="text-danger small">Enter valid email</div>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number"  id="phone" class="form-control" placeholder="" formControlName='phone' [(ngModel)]="user.phone">
            <div *ngIf="submitted && f.name.errors.required" class="text-danger small">Enter Phone number</div>
            <div *ngIf="submitted && f.name.errors.minlength" class="text-danger small">Phone number should have atleast 7 digits</div>
        </div>

        <div class="form-group">
            <label for="website">Website</label>
            <input type="text"  id="website" class="form-control" placeholder="" formControlName='website' [(ngModel)]="user.website">
            <div *ngIf="submitted && f.name.errors.required" class="text-danger small">Website required</div>
        </div>
        <div class="form-inline">
            <button type="submit" class="btn btn-primary mr-2" (click)="submit()">Submit</button> <button type="reset" class="btn btn-danger" (click)="reset()">Reset</button>
        </div>
    </form>
</div>