<nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">Admin Portal</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink='home'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='about'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='user'>User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='support'>Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='contact'>Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='customer'>Customer</a>
            </li>  
        </ul>
    </div>
</nav>

<div role="main" class="container">
    <div class="starter-template">
        <router-outlet>
            <!-- for the content -->
        </router-outlet>
    </div>
</div>