<div class="card border-primary mt-4 bg-dark">
    <h1 class="card-header display-4 text-light">User Details</h1>
    <div class="card-body">
        <h4 class="card-title text-primary">{{ details.name }}</h4>
        <table class="table bg-light rounded text-left">
            <tr>
                <td>User Name</td>
                <td>{{ details.username }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ details.name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ details.email }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ details.phone }}</td>
            </tr>
        </table>
    </div>
</div>